<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="../static/css/about.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="logo">
                <img src="../static/images/logowarna.png" alt="Aerosite">
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
            <div class="auth-buttons">
                <button class="btn-register" onclick="window.location.href='/register'">Register</button>
                <button class="btn-login" onclick="window.location.href='/login'">Login</button>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section class="about">
        <h2>WHO WE ARE?</h2>
        <div class="about-content">
            <div class="aerosite-logo">
                <img src="../static/images/aerosite-bg-blue.png" alt="Aerosite">
            </div>
            <div class="what-aerosite">
                <div class="what-aerosite-title">
                    <h4>AeroSite : Analysis and Predict</h4>
                </div>
                <div class="what-aerosite-content">
                    <p>Website ini bertujuan untuk memprediksi kepuasan pelanggan dan menganalisisnya sebagai wawasan pada penerbangan yang menggunakan teknik ilmu data, machine learning, dan visualisasi data. Kami melakukan eksplorasi data, feature engineering, dan membangun model prediktif yang akurat untuk memberikan wawasan yang dapat ditindaklanjuti. Proyek ini menekankan prapemrosesan data, analisis eksploratif, dan evaluasi model untuk memastikan hasil yang andal. Kami juga menyediakan antarmuka interaktif agar pengguna dapat mengeksplorasi dan memvisualisasikan data, serta mencatat temuan untuk referensi dan pengembangan di masa mendatang.</p>
                </div>
            </div>
        </div>
            
    </section>

    <!-- Member -->
    <section class="members">
        <h2>Our Member</h2>
        <div class="member-list">
            <div class="member-card">
                <img src="../static/images/sopian syauri.jpg" alt="Member 1">
                <h4>Sopian Syauri
                </h4>
                <div class="social-links">
                    <a href="https://www.instagram.com/syr_sopian">Instagram</a>
                    <a href="https://www.linkedin.com/in/sopiansyauri163">LinkedIn</a>
                    <a href=" https://github.com/spnsyr1
                    ">GitHub</a>
                </div>
            </div>
            <div class="member-card">
                <img src="../static/images/Bryan.png" alt="Member 2">
                <h4>Bryant Alfronso Purba
                </h4>
                <div class="social-links">
                    <a href="https://www.instagram.com/bryantalfr/">Instagram</a>
                    <a href="https://www.linkedin.com/in/bryantalfronsopurba/">LinkedIn</a>
                    <a href="https://github.com/BryantDecoder
                    ">GitHub</a>
                </div>
            </div>
            <div class="member-card">
                <img src="../static/images/elvina adellia.jpg" alt="Member 3">
                <h4>Elvina Adellia
                </h4>
                <div class="social-links">
                    <a href="https://www.instagram.com/elvinelii/">Instagram</a>
                    <a href="https://www.linkedin.com/in/elvina-adellia/">LinkedIn</a>
                    <a href="https://github.com/Elviiina
                    ">GitHub</a>
                </div>
            </div>
            <div class="member-card">
                <img src="../static/images/Futia .jpg" alt="Member 4">
                <h4>Futia Azka Ramadhani Wafa</h4>
                <div class="social-links">
                    <a href="https://www.instagram.com/futiiaa/?hl=id">Instagram</a>
                    <a href="https://www.linkedin.com/in/futiaazka/">LinkedIn</a>
                    <a href="https://github.com/futiaazka
                    ">GitHub</a>
                </div>
            </div>
            <div class="member-card">
                <img src="../static/images/wanda cahyani.jpg" alt="Member 5">
                <h4>Wanda Cahyani
                </h4>
                <div class="social-links">
                    <a href="https://www.instagram.com/wandacahyanii/
                    ">Instagram</a>
                    <a href="https://www.linkedin.com/in/wandacahyanii/
                    ">LinkedIn</a>
                    <a href="https://github.com/wandacahyani
                    ">GitHub</a>
                </div>
            </div>
            <div class="member-card">
                <img src="../static/images/permenes bobi.jpg" alt="Member 6">
                <h4>Permenas Bobi
                </h4>
                <div class="social-links">
                    <a href="https://www.instagram.com/mensb.o/">Instagram</a>
                    <a href="https://www.linkedin.com/in/permenas-bobii-172b592b4/">LinkedIn</a>
                    <a href="https://github.com/mensBo">GitHub</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-inner">
                <div class="footer-logo">
                    <img src="../static/images/logo.png" alt="Aerosite">
                </div>
                <div class="footer-logo-kemdikbud">
                    <img src="../static/images/kemdikbud.png" alt="Aerosite">
                </div>
                <div class="footer-logo-bisaai">
                    <img src="../static/images/bisaai.png" alt="Aerosite">
                </div>
                <div class="footer-logo-msib">
                    <img src="../static/images/msib.png" alt="Aerosite">
                </div>
                <div class="footer-logo-kampusmerdeka">
                    <img src="../static/images/kampusmerdeka.png" alt="Aerosite">
                </div>
                <!-- Contact -->
                <div class="quick-links">
                    <h2 class="link-title">Contact Person:</h2>
                    <div class="footer-contact">
                        <div class="footer-contact-item">
                            <span class="material-symbols-outlined">support_agent</span>
                            <span>+62 666 666 666</span> <!-- Nomor Telepon -->
                        </div>
                        <div class="footer-contact-item">
                            <span class="material-symbols-outlined">mail</span>
                            <span>info@admin.com</span> <!-- Alamat Email -->
                        </div>
                    </div>
                    <div class="footer-copyright">
                        <p>&copy; 2024 PT Aero Dirgantara. All Rights Reserved.</p> <!-- Hak Cipta -->
                    </div>
                </div>
            </div>
    </footer>
</body>
</html>
<!-- Footer -->

        